* {
  border: 1px solid red;
}

body {
  margin: 0;
  font-family: Graphik,sans-serif;

}


.site-header {
   width: 100%;
   background: 0;
   margin: 0 auto;
  }
 .site-header__inner1 {

 	position: relative;
 	margin: 0 auto;
 	padding: 20px 15px;
  flex-direction: row;
  justify-content: space-between;
  
 }
 .site-header__inner2 {
 	position: relative;
 	padding-left: 120px;
 	padding-right: 15px;
 	display: flex;
 	align-items: center;
 
 }


 .site-header__item {
 	color: #313030;
 }
 .site-header__left-oc-trigger {
 	border: none;
 	border-radius: 0;
 	background: 0 0;
 	text-align: left;
 	padding: 0;
 	color: #313030;
 	font-size: 25px;
 	width: 25px;
 }
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  
  top: 55px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFEDDF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

 
.top-level-nav__item {
  position: absolute;
right: 5px;
font-size: 20px;
font-family: 'Roboto', sans-serif;

}
.top-level-nav__item__link:link {
  color: #313030;
}
.row {
  width: 100%;
 


}
.app__content {
display: flex;

margin: 0 auto;
border: 1px solid white;

}

.app__content * {
  border: 1px solid white;  
}

.row {
  flex: 1;
  height: 900px;
 
  display: block;

}
.row img {
 margin: 20px;
}

.row1 {
  flex: 1;
 
}

.row1 h1 {
  font-size: 70px;
  padding-right: 100px;
  margin: 0; */
  padding-bottom: 15px;
} 
blockquote h1 {
  padding-bottom: 15px;
}


blockquote {
  margin: 0;
  background: white;
  border-top: 5px solid #EAF9F9;
  border-bottom: 5px solid #EAF9F9;
  color: #3A3C55;
  padding: 20px 20px 20px 70px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  }
  blockquote:before {
  content: "\201C";

  position: absolute;
  left: 1px;
  top: 20px;
  color: white;
  background: #FB6652;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 1.35;
  text-align: center;
  }
 
  blockquote cite {
padding-top: 15px;
  font-style: normal;
  font-size: 25px;
  }

.row1 p {
  padding-right: 180px;

  font-size: 40px;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  line-height: 30px;
  
}

.button_1 {
min-height: 50px;
width: 120px;
display: flex;
justify-content: center;
color: white;
align-items: center;
background-color: #f1770b;
border-radius: 30px;

}
.button_1 a {
  text-decoration: none;
  color: white;
}

.stars_logo {
padding-top: 10px;
font-size: 19px;
}


.rowH {
  flex: 1;
  height: 130px;
}
.rowR {
  flex: 1;
  height: 130px;
}
.rowR p {
  margin-top: 0;
}

.app__content2 {
  flex: 1;

 
}

.lenta {
    font-size: 25px;
    font-family: Larsseit-Bold,sans-serif;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: -.015em;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 55px;
    margin-right: 55px;
   height: 60px;
   margin-top: 20px;
   flex-shrink: 2;
  
}
.lenta-text p {
  font-size: 19px;
  font-family: Larsseit-Bold,sans-serif;
  padding-right: 7px;
  
}

.lenta h3 {
padding-left: 20px;

}
.lenta-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lenta-photo {
display: flex;
flex-direction: row;
background-color: gainsboro;
justify-content: space-around;
padding-left: 55px;
padding-right: 55px;

flex-shrink: 1;
flex-flow: row wrap;

}

.category {
  width: 235px;
  height: 240px;


  margin: 0;
  background-color: gainsboro;
  

  
}
.category img {
  border-radius: 20px 20px 0 0;
}
.category p {

}

.uder-lenta {
  background-color: gainsboro;
  padding: 20px;
  padding-bottom: 60px;

}

.under-photo {
height: 40px;
color: #1c1b1a;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
padding: 0 20px;
border-radius: 0 0 20px 20px;
font-family: Graphik,sans-serif;
}
.under-photo p {
font-size: 16px;

  
}

.about-me {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 150px;
}
 
.about-me h1 {
  font-size: 45px;
 
  padding-top: 50px;
  padding-bottom: 120px;
  
}
.info {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  text-align: left;
  line-height: 1.5;

}


.photo-my img {
  border-radius: 160px;
  height: 320px;
}
.info-me {
  padding: 10px;
  
}
.info-me h2 {
  color: #f1770b
}

p {
  margin: 0;
}

.team {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.team h2 {
  color: #f1770b;
  text-align: center;
}

.team-photo {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding: 40px;
  flex-flow: row wrap;
  margin-bottom: 50px;
 
}

.photo1 {
  padding: 25px;
}
.team h1 {

  
  font-size: 45px;
  padding-top: 50px;

}
.under-team-photo {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 10px;
  border-radius: 0 0 30px 30px;
  background-color: white;
  justify-content: center;
}

.button_2 {
  min-height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  background-color: #f1770b;
  border-radius: 30px;
  margin-left: 10%;
  
 
}
.button_2 a {
  text-decoration: none;
  color: white;
}

 .text-team {
  display: flex;
  position: relative;
  flex-direction: column;
 }
 .text-team b {
  margin-left: 10%;
  text-align: left;
  margin-top: 15px;
 
 }

 .text-team h2 {
  margin-left: 10%;
  text-align: left;
  margin-top: 15px;
  color: #2D251D;
 
 }
 .text-team p {
  margin-left: 10%;
  text-align: left;
  margin-top: 15px;
  margin-right: 40%;
 }

.name1  {
  display: block;
  position: absolute;
  width: 60px;

  text-align: center;

  font-size: 20px;
  color: white;
  display: none;


}
 
.photo1:hover .name1 {
  display: block;
  position: absolute;
  width: 252px;
  height: 290px;
  
  text-align: center;
background-color: #616161;

  font-size: 20px;
  color: white;
  opacity: 0.5; /* Полупрозрачный фон */

 
 
}

.name1 p {
  padding-top: 15%;
}

.contacts {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #281BCC;
  flex-flow: row wrap;
  text-align: center;
align-items: center;
  
}

.cont-photo {
  background-color: #281BCC;
  width: 40%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 

}

.cont-photo img {
text-align: right;
margin-left: 30px;
}
.cont-ik i {
  color: white;
  font-size: 45px;
  padding-left: 10px;
  text-align: center;
  margin: 20px;
  
}

.cont-ik {
  display: flex;
  position: relative;
  flex-direction: row;
margin: 10px;
}


.forms-for {
  display: flex;
  position: relative;
  flex-direction: column;

  margin: 40px;
 
 
 
}


.forms-for input {
  height: 35px;
  font-size: 20px;
  
}

.text-for {
  display: flex;
  position: relative;
  flex-direction: column;

  margin: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  
}
.text-for input {
  height: 65px;
  font-size: 20px;
}

.forms-cont {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}

.button_3 {
width: 120px;
height: 50px;
display: flex;
position: relative;
flex-direction: row;
color: white;
justify-content: center;
text-align: center;
align-items: center;
background-color: #f1770b;
border-radius: 30px;
margin: 10px;

}
.button_3 a {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

  
    .row1 h1 {
      font-size: 40px;
     
    }
    .row1 p {
      font-size: 30px;
    }
  
    body {
    
  zoom: 0.4;
  }
  
  
  /* .info-me p {
    font-size: 20px;
  
  }
  
  .about-me h1 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .about-me {
    padding-bottom: 20px;
  }
  .lenta {margin-bottom: 30px;}
  .category {
    margin: 10px;
  
  } */
}


@media all and (min-width: 768px) and (max-width: 1024px) {

 
  .row1 h1 {
    font-size: 40px;
   
  }
  .row1 p {
    font-size: 30px;
  }

  body {
  
zoom: 0.4;
}


/* .info-me p {
  font-size: 20px;

}

.about-me h1 {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.about-me {
  padding-bottom: 20px;
} */
/* .lenta {margin-bottom: 30px;}
.category {
  margin: 10px;
} */
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .site-header__inner2 {
    display: none;
  }
 
  .row1 h1 {
    font-size: 40px;
   
  }
  .row1 p {
    font-size: 30px;
  }

  body {
  
zoom: 0.4;
}


.info-me p {
  font-size: 20px;

}

.about-me h1 {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.about-me {
  padding-bottom: 20px;
}
.lenta {margin-bottom: 30px;}
.category {
  margin: 10px;
}
}
@media all and (max-width: 480px)  {
  .site-header__inner2 {
    display: none;
  }
 
  .row1 h1 {
    font-size: 40px;
   
  }
  .row1 p {
    font-size: 30px;
  }

  body {
  
zoom: 0.4;
}


.info-me p {
  font-size: 20px;

}

.about-me h1 {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.about-me {
  padding-bottom: 20px;
  

}
.info {
  padding-left: 10px;
  padding-right: 10px;
}
.lenta {margin-bottom: 30px;}
.category {
  margin: 10px;
}
}